/*productos*/

.mainProductos {
    display: grid;
    grid-template-areas:

        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4"
        "imagen5"
        "imagen6";

    justify-content: center;


}


.imagen {
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;

}

.imagen1 {
    grid-area: imagen1;
    @extend .imagen;


}

.imagen2 {
    grid-area: imagen2;
    @extend .imagen;

}

.imagen3 {
    grid-area: imagen3;
    @extend .imagen;


}

.imagen4 {
    grid-area: imagen4;
    @extend .imagen;

}

.imagen5 {
    grid-area: imagen5;
    @extend .imagen;

}

.imagen6 {
    grid-area: imagen6;
    @extend .imagen;

}


.texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
}

#propiedades {

    display: grid;
    justify-content: center;
    justify-items: center;

}

/*index*/


.gridConteiner {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "item1 item1 item1"
        "item2 item2 item2"
        "item3 item4 item5"
        "item6 item6 item6";

    justify-content: center;
    



}



.item1 {
    grid-area: item1;

}

.item2 {
    grid-area: item2;


}

.item3 {
    grid-area: item3;
    




}

.item4 {
    grid-area: item4;
    




}

.item5 {
    grid-area: item5;
    




}


.item6 {
    grid-area: item6;

}

.gridConteiner {

    div {
        display: block;

        margin: 1em;

        
    }
}



/*nosotros*/

.gridNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "carrusel carrusel"
        "text1 text2";
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.carrusel {

    grid-area: carrusel;
    width: 60%;
    margin: auto;

}


.text1 {
    grid-area: text1;
    margin: 2em;
    text-align: center;

}


.text2 {
    grid-area: text2;
    margin: 2em;
    text-align: center;
}