/*main productos*/

.mainProductos {
    display: grid;
    grid-template-areas:

        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4"
        "imagen5"
        "imagen6";

    justify-content: center;


}


.imagen{
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.imagen1 {
    grid-area: imagen1;
    @extend .imagen;

    
}

.imagen2 {
    grid-area: imagen2;
    @extend .imagen;
    
}

.imagen3 {
    grid-area: imagen3;
    @extend .imagen;
    

}

.imagen4 {
    grid-area: imagen4;
    @extend .imagen;
    
}

.imagen5 {
    grid-area: imagen5;
    @extend .imagen;
    
}

.imagen6 {
    grid-area: imagen6;
    @extend .imagen;
    
}



.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr 10fr 1fr;

    grid-template-areas:
        "portada"
        "coleccion"
        "anillo1"
        "aros2"
        "collar3"
        "shop";

    justify-content: center;

}

.body-index{
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.portada {
    grid-area: portada;
    width: 100%;
}

.coleccion {
    grid-area: coleccion;

}

.anillo1 {
    grid-area: anillo1;
    @extend .body-index;
}

.aros2 {
    grid-area: aros2;
    @extend .body-index;
}

.collar3 {
    grid-area: collar3;
    @extend .body-index;
}

.shop {
    grid-area: shop;
    width: 100%;
}

.texto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

