@media screen and (min-width:400px) {

    .mainProductos {
        grid-template-areas:
            "imagen1"
            "imagen2"
            "imagen3"
            "imagen4"
            "imagen5"
            "imagen6";

    }


}



@media screen and (min-width:768px) {

    .mainProductos {
        grid-template-areas:
            "imagen1 imagen2"
            "imagen3 imagen4"
            "imagen5 imagen6";

    }

    body {
        font-size: 14px;
    }

}

@media screen and (min-width:992px) {

    .mainProductos {
        grid-template-areas:
            "imagen1 imagen2 imagen3"
            "imagen4 imagen5 imagen6";

    }

}

/*media index*/

@media screen and (max-width:576px) {



    .gridConteiner {

        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "item1 "
            "item2 "
            "item3 "
            "item4 "
            "item5 "
            "item6 ";
         
           
            
    }



}

@media screen and (max-width: 768px) {

    




}


@media screen and (max-width: 1200px) {
    

    body {
        font-size: 14px;
    }



}

/*media nosotros*/

@media screen and (max-width:576px) {

    .gridNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "carrusel"
            "text1"
            "text2";
        justify-content: center;
    }

    form{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .gridNosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "carrusel carrusel"
            "text1 text2";
        justify-content: center;
        margin: auto;


    }




}


@media screen and (max-width:1200px) {
    .gridNosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "carrusel carrusel"
            "text1 text2";
        justify-content: center;
        margin: auto;
    }
}


