@import "./variables/vars";
@import "./layout/grid";
@import "./layout/media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, $color, #ffffff);
    font-size: 16px;
    font-family: 'Julius Sans One'
    text-align center;
}

#tituloPrincipal {

    color: $color;
    font-size: 3.5em;
    font-family: 'Julius Sans One', sans-serif;
}

#subTitulo {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
    background-color: black;

}

.btn {
    background-color: $color;
}



nav {
    font-family: 'Julius Sans One', sans-serif;
    color: $color ;

    button {
        background-color: black;

    }
}



/*index*/

#tituloColeccion {
    display: grid;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 1em;
    margin-top: 2em;
}


#item1 {
    width: 100%;
}

#item6 {
    width: 100%;
}


/*contactanos*/

form{
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.3rem;
    background: $color;

}

legend{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 1rem;
}

input,textarea{
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    border: none;
}

label{
    font-size: 17px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    width: 100%;

}

#boton{
    background: #1a1612;
    color: #ffffff;
    font-size: 17px;
    padding: 1em;

}



/*productos*/

.imgProductos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 2em;
    margin-bottom: 2em;

}

.card {
    font-family: 'Julius Sans One', sans-serif;
    color: #1a1612;
    font-size: 1em;

}

.cardDescripcion {
    @extend .card;
}

.cardPrecio {
    @extend .card;
    justify-content: center;
}


/*nosotros*/

.texto {
    
    color: #1a1612;
    font-family: 'Julius Sans One', sans-serif;
   

}





/*footer*/

#suscribete {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 2em;
    font-family: 'Julius Sans One', sans-serif;
    background-color: black;

}

.email {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: $color;
    padding: 2em;
    margin: auto;
}

#corazon {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

@keyframes girar {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}



